<div class="card shadow-sm">
    <div class="card-header">
        <h4 class="mb-0"><span class="badge badge-danger">Editar Usuario:</span></h4>
    </div>
    <div class="card-body">
        <div class="alert alert-{{responseType}}" role="alert" *ngIf="showResponseMessage">
            {{responseMessage}}
          </div>

        <form (ngSubmit)="updateUser(usuarioForm)" #usuarioForm="ngForm" *ngIf="user">
            <input type="hidden" class="d-none" id="Id" name="Id" [(ngModel)]="user.id" pattern="[0-9]+" maxlength="16" required/>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="form-group">
                        <label for="documentTypeId">Tipo de Documento:</label>
                        <select class="form-control" id="documentTypeId" name="documentTypeId" [(ngModel)]="user.documentTypeId">
                            <option *ngFor="let docType of docTypeList" value="{{docType.id}}">{{docType.abbreviation + '-' + docType.description}}</option>
                          </select>
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="form-group">
                        <label for="document">Número Documento:</label>
                        <input type="text" class="form-control" id="document" name="document" [(ngModel)]="user.document" pattern="[0-9]+" minlength="3" maxlength="16" required/>
                        <small *ngIf="usuarioForm.submitted && usuarioForm.controls['document'].errors"  class="form-text text-danger">
                            Solo se adminten números.
                        </small>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="form-group">
                        <label for="names">Nombres:</label>
                        <input type="text" class="form-control" id="names" name="names" [(ngModel)]="user.names" pattern="^[A-Za-z ]+$" minlength="2" maxlength="64" required/>
                        <small *ngIf="usuarioForm.submitted && usuarioForm.controls['names'].errors" class="form-text text-danger">
                            Introduzca nombres válidos.
                        </small>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="form-group">
                        <label for="lastNames">Apellidos:</label>
                        <input type="text" class="form-control" id="lastNames" name="lastNames" [(ngModel)]="user.lastNames" pattern="^[A-Za-z ]+$" minlength="2" maxlength="64"  required/>
                        <small *ngIf="usuarioForm.submitted && usuarioForm.controls['lastNames'].errors" class="form-text text-danger">
                            Introduzca apellidos válidos.
                        </small>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" email [(ngModel)]="user.email" email required aria-describedby="emailHelp">
                        <small *ngIf="usuarioForm.submitted && usuarioForm.controls['email'].errors" class="form-text text-danger">El correo no tiene un formato correcto.</small>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="form-group">
                        <label for="phone">Teléfono:</label>
                        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone" pattern="[0-9]+" minlength="7" maxlength="10" required>
                        <small *ngIf="usuarioForm.submitted && usuarioForm.controls['phone'].errors"  class="form-text text-danger">
                            Teléfono incorrecto (Solo números y entre 7 y 10 digitos).
                        </small>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="form-group">
                        <label for="status">Estado:</label>
                        <select class="form-control" id="status" name="status" [(ngModel)]="user.status">
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                          </select>
                        <small id="" class="form-text text-muted"></small>
                    </div>
                </div>    
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-success">Guardar</button>
            </div>
        </form>

    </div>
    <div class="card-footer text-right">
        <a href="#" [routerLink]="['/users']" class="btn btn-outline-secondary">Regresar</a>
    </div>
</div>
