<div class="row justify-content-center">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">ADMINISTRAR USUARIOS</h5>
        <h6 class="card-subtitle mb-2 text-muted">Administración Sistema</h6>
        <p class="card-text">Busque, adiciones, modifique y cree Usuarios.</p>
        <div class="d-grid gap-2">
          <a [routerLink]="['../users']" class="btn btn-success btn-block">Abrir</a>
        </div>
      </div>
    </div>
  </div>
</div>