<div class="card shadow-sm">
    <div class="card-header">
        <h4 class="mb-0"><span class="badge badge-success">Lista de Usuarios:</span></h4>
    </div>
    <div class="card-body">
    
        <div class="table-responsive">
            <table class="table table-striped table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Documento</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Borrar</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList">
                        <th scope="row text-right">{{user.document}}</th>
                        <td>{{user.names}}</td>
                        <td>{{user.lastNames}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td><a href="#" class="btn btn-outline-danger">X</a></td>
                        <td><button class="btn btn-outline-primary" [routerLink]="['/users/update/', user.id]">E</button></td>
                    </tr>
                    <tr *ngIf="!userList.length">
                        <th scope="row" colspan="7">
                            <div class="alert alert-warning m-0" role="alert">
                                No exiten registros de Usuarios.
                            </div>
                        </th>
        
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="card-footer text-right">
        <a href="#" [routerLink]="['../users/add']"  class="btn btn-success">+ Agregar Usuario</a>
      </div>
  </div>