<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="assets/img/app_logo.png" width="35" class="d-inline-block align-top" alt="" loading="lazy">
       AppAdmin
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active bg-success rounded shadow-sm">
        <a class="nav-link" [routerLink]="['home']" >Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active bg-success rounded shadow-sm">
        <a class="nav-link" [routerLink]="['users']" >Usuarios</a>
      </li>
    </ul>
  </div>
</nav>